@import url('./reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* <weight>: Use a value from 100 to 900

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}
*/


:root {
    --rojo: #fa573a;
    --oscuro: #21242e;
    --tamañofuente: 1rem;
    --anchocolumnas: 1rem;
    --Montse: "Montserrat", sans-serif;
    --han: "Handlee", cursive;
}

/* Los breakpoints son 
0 - 600px → movil
601px - 768px → tablet
769px - 1004px → Desktop */

/* Layout general */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--Montse);
    font-size: var(--tamañofuente);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: transparent;
    font-weight: 700;
    color: var(--rojo);
    padding: 0;
    margin: 0.3125rem 0;
}

.btn {
    display: inline-block;
    background-color: var(--rojo);
    color: white;
    font-family: var(--Montse);
    text-decoration: none;
    padding: 1.25rem;
}

/* Inicio header */

header {
    

    nav:first-child {
        background-color: var(--oscuro);
        padding: 1.5625rem 0;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 2rem;
            text-decoration: none;

            a {
                display: inline-block;
                color: var(--rojo);
                width: 100%;
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        figure {
            width: 20%;
            padding-top: 1.25rem;
        }

        .hamburguesa {
            width: 2rem;
            margin-top: 0.7rem;
            cursor: pointer;
            text-align: end;

            div {
                background-color: rgb(173, 173, 173);
                width: 1.875rem;
                height: 0.125rem;
                margin: 0.6rem 0;
            }
        }

        nav {
            width: 100%;
            margin: 1.875rem 0;
            
            li {
                border-top: 0.09375rem solid rgb(173, 173, 173);
                color: rgb(173, 173, 173);
                padding: 1.25rem;
                font-size: 1.25rem;
                font-weight: 500;
            }

            li:first-child {
                color: var(--rojo);
                border-top: transparent;
            }
        }
    }
}
