@import url('./reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* <weight>: Use a value from 100 to 900

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}
*/


:root {
    --rojo: #fa573a;
    --oscuro: #21242e;
    --tamañofuente: 1rem;
    --anchocolumnas: 1rem;
    --Montse: "Montserrat", sans-serif;
    --han: "Handlee", cursive;
}

/* Los breakpoints son 
0 - 600px → movil
601px - 768px → tablet
769px - 1004px → Desktop */

/* Layout general */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--Montse);
    font-size: var(--tamañofuente);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: transparent;
    font-weight: 700;
    color: var(--rojo);
    padding: 0;
    margin: 0.3125rem 0;
}

.btn {
    display: inline-block;
    background-color: var(--rojo);
    color: white;
    font-family: var(--Montse);
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1.5rem;
}

/* Inicio header */

header {


    nav:first-child {
        background-color: var(--oscuro);
        padding: 1.5625rem 0;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 2rem;
            text-decoration: none;

            a {
                display: inline-block;
                color: var(--rojo);
                width: 100%;
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        figure {
            width: 20%;
            padding-top: 1.25rem;
        }

        .hamburguesa {
            width: 2rem;
            margin-top: 0.7rem;
            cursor: pointer;
            text-align: end;

            div {
                background-color: rgb(173, 173, 173);
                width: 1.875rem;
                height: 0.125rem;
                margin: 0.6rem 0;
            }
        }

        nav {
            width: 100%;
            margin: 1.875rem 0;

            li {
                border-top: 0.09375rem solid rgb(173, 173, 173);

                padding: 1.25rem;
                font-size: 1.25rem;
                font-weight: 500;
            }

            li:first-child {
                border-top: transparent;

                a:first-child {
                    color: var(--rojo);
                }
            }

            a {
                text-decoration: none;
                color: rgb(173, 173, 173);
            }
        }
    }
}

/* Inicio del Hero */

.hero {
    height: 59.375rem;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-color: #868686;
    background-blend-mode: multiply;
    align-content: center;

    h1 {
        font-family: var(--han);
        font-size: 3rem;
        color: white;
    }

    p {
        font-size: 1.5625rem;
        font-weight: 500;
        margin: 1.25rem 0;
    }

    p:nth-child(2) {
        color: var(--rojo);
    }

    p:nth-child(3) {
        color: white;
    }

    ul {
        display: flex;
        font-size: 2.5rem;
        width: 12.5rem;
        justify-content: space-between;
        margin-top: 1.25rem;
    }

    a {
        color: white;
    }
}

/* Inicio del main */

h2 {
    font-family: var(--han);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;

    span {
        color: var(--rojo)
    }
}

.servicios div>p, .about div:first-child>p {
    text-align: center;
    color: var(--rojo);
    font-size: 30px;
    font-weight: bold;
}

hr {
    width: 120px;
    height: 3px;
    background-color: var(--rojo);
    border: none;
    transform: translateY(-23px)
}

.servicios {
    margin: 3.125rem 0;

    li {
        font-size: 22.5px;
        font-weight: 500;
        color: rgb(95, 95, 95);
        line-height: 30px;
        border-bottom: 1px solid rgb(97, 97, 97);
        padding-bottom: 20px;
        margin-bottom: 30px;

        button {
            font-size: 18px;
        }
    }

    li>i {
        border: 1px solid var(--rojo);
        font-size: 30px;
        padding: 15px;
        color: var(--rojo);
        transform: rotateY(180deg);
    }


}

h4 {
    color: black;
    margin: 10px 0;
    font-weight: 700;
    font-size: 22.5px;
}

.about {
    margin: 100px 0;

    figure {
        border: 3px solid var(--rojo);
        transform: rotate(10deg);

        img {
            transform: rotate(-10deg);
        }
    }

    div:nth-child(3) {


        p {
            font-size: 22.5px;
            font-weight: 500;
            color: rgb(95, 95, 95);
            line-height: 30px;
            padding-bottom: 20px;
            margin-bottom: 10px;
        }

        h5 {
            color: var(--rojo);
            font-size: 20px;
            font-weight: 500;
            margin: 15px 0;
        }
    }
}

