@import url('./reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* <weight>: Use a value from 100 to 900

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}
*/


:root {
    --rojo: #fa573a;
    --oscuro: #21242e;
    --tamañofuente: 1rem;
    --anchocolumnas: 1rem;
    --Montse: "Montserrat", sans-serif;
    --han: "Handlee", cursive;
}

/* Los breakpoints son 
0 - 600px → movil
601px - 768px → tablet
769px - 1004px → Desktop */

/* Layout general */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--Montse);
    font-size: var(--tamañofuente);
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: transparent;
    font-weight: 700;
    color: var(--rojo);
    padding: 0;
    margin: 0.3125rem 0;
}

.btn {
    display: inline-block;
    background-color: var(--rojo);
    color: white;
    font-family: var(--Montse);
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1.5rem;
}

/* Inicio header */

header {


    nav:first-child {
        background-color: var(--oscuro);
        padding: 1.5625rem 0;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 2rem;
            text-decoration: none;

            a {
                display: inline-block;
                color: var(--rojo);
                width: 100%;

                span {
                    display: none;
                }
            }
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        figure {
            width: 20%;
            padding-top: 1.25rem;
        }

        .hamburguesa {
            width: 2rem;
            margin-top: 0.7rem;
            cursor: pointer;
            text-align: end;

            div {
                background-color: rgb(173, 173, 173);
                width: 1.875rem;
                height: 0.125rem;
                margin: 0.6rem 0;
            }
        }

        nav {
            width: 100%;
            margin: 1.875rem 0;

            li {
                border-top: 0.09375rem solid rgb(173, 173, 173);

                padding: 1.25rem;
                font-size: 1.25rem;
            }

            li:first-child {
                border-top: transparent;

                a:first-child {
                    color: var(--rojo);
                }
            }

            a {
                text-decoration: none;
                color: rgb(173, 173, 173);
            }
        }
    }
}

/* Inicio del Hero */

.hero {
    height: 59.375rem;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-color: #868686;
    background-blend-mode: multiply;
    align-content: center;

    h1 {
        font-family: var(--han);
        font-size: 3rem;
        color: white;
    }

    p {
        font-size: 1.5625rem;
        margin: 1.25rem 0;
    }

    p:nth-child(2) {
        color: var(--rojo);
    }

    p:nth-child(3) {
        color: white;
    }

    ul {
        display: flex;
        font-size: 2.5rem;
        width: 12.5rem;
        justify-content: space-between;
        margin-top: 1.25rem;
    }

    a {
        color: white;
    }
}

/* Inicio del main */

h2 {
    font-family: var(--han);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;

    span {
        color: var(--rojo)
    }
}

.servicios div>p,
.about div:first-child>p {
    text-align: center;
    color: var(--rojo);
    font-size: 1.875rem;
    font-weight: bold;
}

hr {
    width: 7.5rem;
    height: 0.1875rem;
    background-color: var(--rojo);
    border: none;
    transform: translateY(-1.4375rem)
}

.servicios {
    margin: 3.125rem 0;

    li {
        font-size: 1.40625rem;
        color: rgb(95, 95, 95);
        line-height: 1.875rem;
        border-bottom: 0.0625rem solid rgb(97, 97, 97);
        padding-bottom: 1.25rem;
        margin-bottom: 1.875rem;

        button {
            font-size: 1.125rem;
        }
    }

    li>i {
        border: 0.0625rem solid var(--rojo);
        font-size: 1.875rem;
        padding: 0.9375rem;
        color: var(--rojo);
        transform: rotateY(180deg);
    }


}

h4 {
    color: black;
    margin: 0.625rem 0;
    font-weight: 700;
    font-size: 1.40625rem;
}

.about {
    margin: 6.25rem 0;

    figure {
        border: 0.1875rem solid var(--rojo);
        transform: rotate(10deg);
        width: 90%;
        margin: 1.25rem auto 3.75rem auto;

        img {
            transform: rotate(-10deg);

        }
    }

    div:nth-child(3) {


        p {
            font-size: 1.40625rem;
            color: rgb(95, 95, 95);
            line-height: 1.875rem;
            padding-bottom: 1.25rem;
            margin-bottom: 0.625rem;
        }

        h5 {
            color: var(--rojo);
            font-size: 1.25rem;
            margin: 0.9375rem 0;
        }
    }
}

/* Inicio del footer */

footer {
    background-color: var(--oscuro);
    position: sticky;
    bottom: 0px;


    p {
        color: white;
        text-align: center;
        font-size: 1.375rem;
        padding: 1.25rem;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

#totop {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 5rem;
    right: 0.625rem;
    background-color: var(--rojo);
    border-radius: 0.3125rem;
    font-size: 2.5rem;
    text-align: center;


    i {}


}

/* Inicio mediaqueries 601px - 768px → tablet */

@media (min-width: 601px) {

    .servicios ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 50%;
            border: none;
            font-size: 1rem;
            border-left: 0.125rem solid rgb(185, 185, 185);
            line-height: 1.2rem;
            padding: 0 1.25rem;

            h4 {
                font-size: 1.25rem;
                padding: 0.625rem 0;
            }

            button {
                padding: 0.625rem 0;
            }
        }

        li:last-child {
            width: 100%;
        }
    }

    .about {
        display: flex;
        flex-wrap: wrap;

        div:first-child {
            width: 100%;
        }

        div:nth-child(2) {
            width: 45%;
            margin-left: -1.5625rem;
        }

        div:last-child {
            width: 55%;

            padding: 0 1.25rem;

            p {
                font-size: 1rem;
                line-height: 1.2rem;
                width: 120%;
            }

        }
    }
}

/* Inicio mediaqueries 769px - 1004px → Desktop */

@media (min-width: 769px) {

    .container {
        width: 66.666%;
    }

    header {

        nav:first-child ul {
            width: 66.666%;
            margin: 0 auto;
            justify-content: space-between;

            li {
                font-size: 1.25rem;

                a {
                    text-decoration: none;

                    span {
                        display: inline;
                        color: white;
                        font-size: 1rem;
                        margin: 0 0.125rem;
                    }
                }
            }
        }

        .container {
            display: flex;

            figure {
                width: 8%;
                padding-top: 0.625rem;
                padding-bottom: 0.9375rem;
            }


            .hamburguesa {
                display: none;
            }

            nav {
                width: 20%;
                margin: 0;

                ul {
                    display: flex;
                    justify-content: end;

                    li {
                        border: none;
                        font-size: 0.9rem;
                        padding: 1rem;

                        a:hover {
                            color: var(--rojo);
                        }
                    }

                    li:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .hero .container .btn {
        border: 0.125rem solid var(--rojo);

        &:hover {
            background-color: transparent;
            color: var(--rojo);
            border: 0.125rem solid var(--rojo);

        }

        &:hover i {
            transform: translateX(0.3125rem);
            transition: transform 0.5s;
        }
    }

    .servicios ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


        li {
            width: 100%;
            padding-top: 1.25rem;

        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        div:first-child {
            grid-column: 1/5;
        }

        div:nth-child(2) {
            grid-column: 1/3;
            width: 100%;
            transform: translateX(15px);


            figure:hover {
                transform: rotate(0deg);
                transition: 1s;
            }

            img {
                transition: 1s;
            }

            img:hover {
                transform: rotate(0deg);
            }

            figure {
                width: 95%;
                transition: 1s;

                /*  &:hover {
                    transform: rotate(0deg);

                }

                img:hover {
                    transform: rotate(0deg);

                } */
            }
        }

        div:last-child {
            grid-column: 3/5;
            width: 80%;

            .btn {
                border: 0.125rem solid var(--rojo);

                &:hover {
                    background-color: transparent;
                    color: var(--rojo);
                    border: 0.125rem solid var(--rojo);

                }

                &:hover i {
                    transform: translateX(0.3125rem);
                    transition: transform 0.5s;
                }
            }
        }
    }

    footer p {
        text-align: left;

        a:hover {
            color: var(--rojo);
        }
        
    }

    #totop {
        display: none;
    }
}